<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vinsasoft.security">
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="true"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" tools:node="remove"/>
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="com.sec.android.app.clockpackage.permission.READ_ALARM"/>
    <uses-permission android:name="com.sec.android.app.clockpackage.permission.WRITE_ALARM"/>
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />




    <application
        android:name="com.vinsasoft.security.stuff.AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"

        android:supportsRtl="true"
        android:theme="@style/MyAppTheme">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent"/>

        <activity
            android:name="com.vinsasoft.security.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            >

        </activity>
        <activity android:name="com.vinsasoft.security.SplishActivity"
            android:theme="@style/AppTheme">


        </activity>
        <activity android:name="com.vinsasoft.security.PermissionActivity">

        </activity>

        <activity
            android:name="com.vinsasoft.security.AntiVirus.EulaActivity"
            android:label=""
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

            </intent-filter>
        </activity>
        <activity
            android:name="com.vinsasoft.security.AntiVirus.FullscanActivity"
            android:label="@string/virus_scan"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/MyTranslucentAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter></activity>
        <activity
            android:name="com.vinsasoft.security.AntiVirus.SdcardScanActivity"
            android:label="@string/virus_scan"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/MyTranslucentAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter></activity>
        <activity
            android:name="com.vinsasoft.security.SettingsActivity"
            android:label="@string/title_settings"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/MyTranslucentAppTheme"> </activity>
        <activity
            android:name="com.vinsasoft.security.AntiVirus.AntivirusActivity"
            android:label="@string/virus_scan"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/MyTranslucentAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />


            </intent-filter>
        </activity>

        <activity
            android:name="com.vinsasoft.security.AntiVirus.VirusScan"
            android:screenOrientation="portrait"
            android:label="@string/virus_scan"
        android:theme="@style/MyTranslucentAppTheme"

            />
        <activity android:name="com.vinsasoft.security.AntiVirus.VirusScanSpeed"
            android:screenOrientation="portrait"
            android:label="@string/virus_scan"
            android:theme="@style/MyTranslucentAppTheme"
            />

        <activity
            android:label="@string/virus_scan"
            android:name="com.vinsasoft.security.AntiVirus.ScanCompleted"
            android:theme="@style/MyTranslucentAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:label="@string/virus_scan"
            android:name="com.vinsasoft.security.AntiVirus.DetailUpdateReport"
            android:theme="@style/MyTranslucentAppTheme"		>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/virus_scan"
            android:name="com.vinsasoft.security.AntiVirus.DetailScanReport"
            android:theme="@style/MyTranslucentAppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/virus_scan"
            android:name="com.vinsasoft.security.AntiVirus.ReportActivity"
            android:theme="@style/MyTranslucentAppTheme"			>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.vinsasoft.security.PhoneSafeActivity"
            android:launchMode="singleTask"
            android:theme="@style/MyTranslucentAppTheme"
            android:label="@string/Anti_theft"
            />
        <activity
            android:name="com.vinsasoft.security.PhoneSafeSetting1Activity"
            android:launchMode="singleTask"
            android:label="@string/Anti_theft">
            <intent-filter>
                <action android:name="com.vinsasoft.security.PhoneSafeSetting1Activity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.vinsasoft.security.ContactsActivity"
            android:label="">

        </activity>
        <activity android:name="com.vinsasoft.security.AntiTheft.SetUp1"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.vinsasoft.security.AntiTheft.SetUp2"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name="com.vinsasoft.security.AntiTheft.SetUp4"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.vinsasoft.security.AntiTheft.LostFind"
            android:theme="@style/AppTheme.NoActionBar"/>
        <service
            android:name="com.vinsasoft.security.service.PhoneSafeService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name="com.vinsasoft.security.receiver.SimChangeReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.vinsasoft.security.service.GpsTraceService"
            android:enabled="true"
            android:exported="true" />
        <!-- Declaring broadcast receiver for BOOT_COMPLETED event. -->
        <receiver android:name="com.vinsasoft.security.AntiVirus.BootCompletedReceiver" android:enabled="true" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <service android:enabled="true" android:name="com.vinsasoft.security.AntiVirus.MonitorShieldService" />



        <service
            android:name="com.vinsasoft.security.service.CallBlockingService"
            android:description="@string/blocking_service_description"
            android:exported="false">
        </service>

        <receiver android:name="com.vinsasoft.security.broadcasts.WakeUpReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.vinsasoft.security.broadcasts.CallReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE"/>
            </intent-filter>
        </receiver>

        <provider
            android:name="com.vinsasoft.security.db.BlackListProvider"
            android:authorities="com.vinsasoft.security.blackList"
            android:exported="false"/>
        <provider
            android:name="com.vinsasoft.security.db.LogProvider"
            android:authorities="com.vinsasoft.security.log"
            android:exported="false"/>
        <provider
            android:name="com.vinsasoft.security.db.QuickBlackListProvider"
            android:authorities="com.vinsasoft.security.quickBlackList"
            android:exported="false"/>

        <activity
            android:name="com.vinsasoft.security.CallBlocker.MainActivity"
            android:label="@string/callb_Home"
            android:theme="@style/MyTranslucentAppTheme">

        </activity>
        <activity
            android:name="com.vinsasoft.security.CallBlocker.AddActivity"
            android:exported="false"
            android:label="@string/callb_Home"
            android:theme="@style/MyTranslucentAppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vinsasoft.security.CallBlocker.MainActivity"/>
        </activity>

        <activity
            android:label="@string/callb_Home"
            android:name="com.vinsasoft.security.CallBlocker.AllSettingsActivity"
            android:exported="false"

            android:theme="@style/MyTranslucentAppTheme">
        </activity>
        <activity
            android:name="com.vinsasoft.security.CallBlocker.BlockingSettingsActivity"
            android:exported="false"
            android:label="@string/callb_Home"
            android:theme="@style/MyTranslucentAppTheme">
        </activity>
        <activity
            android:name="com.nononsenseapps.filepicker.FilePickerActivity"
            android:exported="false"
            android:label="@string/callb_Home"
            android:theme="@style/FilePickerTheme">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.vinsasoft.security.CallBlocker.InitialPermissionsActivity"
            android:exported="false"
            android:label="@string/callb_Home"
            android:theme="@style/MyTranslucentAppTheme">
        </activity>

        <activity
            android:name="com.vinsasoft.security.WifiSecurity.PreferencesActivity"
            android:label="@string/wifisec_Home"
            android:theme="@style/MyTranslucentAppTheme"			>

        </activity>
        <activity
            android:name="com.vinsasoft.security.WifiSecurity.SSIDManagerActivity"
            android:label="@string/wifisec_Home"
            android:theme="@style/MyTranslucentAppTheme"			>
        </activity>
        <activity
            android:name="com.vinsasoft.security.WifiSecurity.MACManagerActivity"
            android:label="@string/wifisec_Home"
            android:theme="@style/MyTranslucentAppTheme"			>
        </activity>
        <activity
            android:name="com.vinsasoft.security.WifiSecurity.LocationNoticeActivity"
            android:label="@string/wifisec_Home"
            android:theme="@style/MyTranslucentAppTheme">
        </activity>
        <!-- Receive all scan results in ScanResultsChecker class -->


        <receiver
            android:name="com.vinsasoft.security.WifiSecurity.ScanResultsChecker"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.net.wifi.SCAN_RESULTS"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.vinsasoft.security.WifiSecurity.LocationAccess"
            android:enabled="true"
            android:exported="false">
            <intent-filter>

                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.location.PROVIDERS_CHANGED"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.vinsasoft.security.WifiSecurity.PermissionChangeReceiver"
            android:enabled="true"/>

        <receiver
            android:name="com.vinsasoft.security.WifiSecurity.WakelockHandler"
            android:enabled="true"/>

        <activity
            android:name="com.vinsasoft.security.WifiSecurity.AskPermissionActivity"
            android:excludeFromRecents="true"
            android:parentActivityName="com.vinsasoft.security.WifiSecurity.PreferencesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vinsasoft.security.WifiSecurity.PreferencesActivity" />
        </activity>


        <activity
            android:name="com.vinsasoft.security.applocker.EnterActivity"
            android:label="@string/apps_lock"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name="com.vinsasoft.security.applocker.UnlockActivity"
            android:label="@string/apps_lock"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.vinsasoft.security.applocker.MainActivity"
            android:label="@string/apps_lock"
            android:theme="@style/MyTranslucentAppTheme"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.vinsasoft.security.applocker.Splash"
            android:label="@string/apps_lock"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.vinsasoft.security.applocker.SetPatternLockActivity"
            android:label="@string/apps_lock"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.vinsasoft.security.applocker.SetLockTypeActivity"
            android:label="@string/apps_lock"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.vinsasoft.security.applocker.EnterNormalPIN"
            android:label="@string/apps_lock"
            android:excludeFromRecents="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.vinsasoft.security.applocker.SetNormalPIN"
            android:label="@string/apps_lock"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.vinsasoft.security.applocker.EnterPatternLock"
            android:excludeFromRecents="true"
            android:label="@string/apps_lock"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.vinsasoft.security.applocker.EnterFingerprintActivity"
            android:excludeFromRecents="true"
            android:label="@string/apps_lock"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.vinsasoft.security.applocker.SettingsActivity"
            android:label="@string/apps_lock"
            android:theme="@style/AppTheme">


            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.vinsasoft.security.applocker.LogsActivity"
            android:label="@string/apps_lock"
            android:theme="@style/AppTheme">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.vinsasoft.security.applocker.RequestPermission"
            android:label="@string/apps_lock"
            android:theme="@style/AppTheme2">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.vinsasoft.security.ProActivity"
            android:label="@string/upgrade_button"
            android:theme="@style/MyTranslucentAppTheme"/>
        <activity android:name="com.vinsasoft.security.ProActivitySuccess"
            android:label="@string/upgrade_button"
            android:theme="@style/MyTranslucentAppTheme"/>

        <activity android:name="com.vinsasoft.security.NotificationActivity" />
        <activity
            android:name="com.vinsasoft.security.Battery.BatterySaver"
            android:label="@string/batterysaver"
            android:theme="@style/MyTranslucentAppTheme"/>
        <activity android:name="com.vinsasoft.security.AntiVirus.VirusFoundActivity"
            android:label="@string/virus_scan"
            android:theme="@style/MyTranslucentAppTheme"/>
        <activity android:name="com.vinsasoft.security.AntiVirus.VirusFoundActivity2"
            android:label="@string/virus_scan"
            android:theme="@style/MyTranslucentAppTheme"/>
        <activity android:name="com.vinsasoft.security.AboutActivity"
            android:label="@string/app_about"
            android:theme="@style/MyTranslucentAppTheme"/>
        <activity android:name="com.vinsasoft.security.PrivacyPolicyActivity"
            android:label="@string/privacy_policy"
            android:theme="@style/MyTranslucentAppTheme"/>
        <activity
            android:name="com.vinsasoft.security.Activity_TOSAccept"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.vinsasoft.security.applocker.ScreenReciever">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_OFF"/>
                <action android:name="android.intent.action.SCREEN_ON"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.vinsasoft.security.applocker.BootReciever">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <service android:name="com.vinsasoft.security.applocker.LockService"
            android:enabled="true"/>

        <receiver
            android:name="com.vinsasoft.security.receiver.DeviceAdminSampleReceiver"
            android:description="@string/sample_device_admin_description"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_sample" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
        <service android:name="com.vinsasoft.security.service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name="com.vinsasoft.security.service.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>



        <meta-data android:name="co.ronash.pushe.token" android:value="PUSHE_437867742670"/>


        <service
            android:name="com.vinsasoft.security.MyPushListener"
            android:exported="false">
            <intent-filter>
                <action android:name="co.ronash.pushe.RECEIVE" />
            </intent-filter>
        </service>

    </application>

</manifest>